# Maven
/target/
/censo/target/
/censo/generated-sources/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# Build artifacts
*.class
*.log
*.jar
*.war

# IDE & Tooling
## VS Code
.vscode/

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## Spring Tool Suite / Eclipse
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans/
.sts4-cache/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# OS-specific
.DS_Store
Thumbs.db
