<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

    <meta charset="UTF-8">
    <title>Iniciar Sesión | Censo INEGI</title>
   <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a2d9a32f6d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="login-container">
    <h1 class="logo-title">Censo INEGI</h1>
    <h2>Iniciar Sesión</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="email" name="correo" placeholder="Correo" required>
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" required>
                <i class="fa-solid fa-lock"></i>
            </div>

            <button type="submit">Ingresar</button>

            <p th:if="${error}" th:text="${error}" class="error"></p>
        </form>

        <div class="footer">
            <p>© 2025 <span>Censo de Población INEGI</span></p>
        </div>
    </div>
</body>

</html>
